#userInput {
  text-align: center;
  float: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submitForm {
  text-align: auto;
  float: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submitButton {
  float: center;
  display: flex;
  align-items: center;
}

#title{
 text-align: auto;
  float: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


label {
  position: left;
  float: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  float: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

